body{
    background-image: url(../imagenes/bg.jpg);
    min-height: 10000px;
    background-repeat: no-repeat;
    background-size: cover;
}


.fixed-container{
    z-index: 10;
    position: relative;
    display: inline-grid;    
    margin-left: 31%;
}
.instagram-list{
    background-color: white;
    padding: 0;
    height: 72%;
    width: 26%;
    margin-left: 9%;
    margin-top: 7.3%;
    z-index: 11;
    overflow: scroll;
    position: absolute;
}

.instagram-item{
    z-index: 10;
    width: 100%;
    position: relative;
    display: inline-grid;

}

.instagram-item > img{
    width: 100%;
}